@font-face {
	font-family: 'printroom';
	src: url('printroom.ttf') format('truetype');
}

@font-face {
	font-family: 'samantha';
	src: url('samantha.ttf') format('truetype');
}

@font-face {
	font-family: 'Varela';
	src: url('varela.regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Spectral';
	src: url('Spectral-Regular.ttf') format('truetype');
}

.navbar {
	background: white !important;
	font-size: 0.8em;
}

.nav-item {
	color: black !important;
	font-family: 'Varela';
}

.nav-item:hover {
	border: 1px solid #daa520;
}

.navbar-brand {
	padding-left: 2vw;
}

 #navbarNavAltMarkup {
	padding-left: 48vw;
}

#articles {
	padding-left: initial;
	padding-right: initial;
	text-align: center;
}

#icons {
	padding-left: initial;
	padding-right: initial;
	text-align: center;
}

#navbarNavAltMarkup a {
	padding-left: 1vw;
	padding-right: 1vw;
}

#navbarNavAltMarkup a.active {
	border: 1px solid #daa520;
}

#navbarNavAltMarkup a img {
	width: 1px;
}

body {
	font-family: 'Spectral';
	overflow-x: hidden;
}

#dorso {
	background-color: #303030;
	height: 40vh;
}

#normal {
	height:10vh;
}

#spine {
	background-color: #303030;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.3);
	height: 20vh;
	z-index: 2;
	color: #daa520;
	text-shadow: 0 0 5px black;
	font-size: 1vw;
	text-align: center;
	padding-top: 8.5vh;
}

#t {
	float: left;
	width: 3vw;
	margin-left: 5vw;
	height: 20vh;
	margin-top: -2.5vh;
}

#t img {
	max-width: 100%;
	-webkit-transform: rotate(-90deg);
}

#author {
	width: 40vw;
}

#title {
	font-size: 1.3vw;
	margin-top: -0.5vh;
	padding-right: 2vw;
	float: right;
	width: 55vw;
	text-transform: uppercase;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
.wrapper {
  animation: sliding-background 40s linear infinite;
  background: url("https://learredhdk.github.io/typolab/images/firstpage.jpg") no-repeat left/120%;
  height: 92vh;
  text-align: center;
  width: 100vw;
}

.title {
  background: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20vw;
  letter-spacing: 3vw;
  line-height: 40vh;
  margin: 0;
  margin-left: 14vw;
  margin-right: 14vw;
  padding-top: 2vh;
  border-top: 12px solid black;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black, 21px 21px black, 22px 22px black, 23px 23px black, 24px 24px black, 25px 25px black, 26px 26px black, 27px 27px black, 28px 28px black, 29px 29px black, 30px 30px black, 31px 31px black, 32px 32px black, 33px 33px black, 34px 34px black, 35px 35px black;
}

.title:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}

.lab {
  background: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20vw;
  letter-spacing: 3vw;
  line-height: 44vh;
  margin: 0;
  margin-left: 14vw;
  margin-right: 14vw;
  padding-bottom: 2.2vh;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black, 21px 21px black, 22px 22px black, 23px 23px black, 24px 24px black, 25px 25px black, 26px 26px black, 27px 27px black, 28px 28px black, 29px 29px black, 30px 30px black, 31px 31px black, 32px 32px black, 33px 33px black, 34px 34px black, 35px 35px black;
}

.lab:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}

@keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}

  50% {
    background-position: 100% 40%;
  }
}

#spine {
	margin-top: 100px;
	height: 200px;
	width: 100vw;
}

#intro-sect {
	background: url("https://learredhdk.github.io/typolab/images/firstpage.jpg") no-repeat;
	background-size: 100vw;
	height: 100vh;
	text-align: center;
	width: 100vw;
}

#intro {
	display: block;
	background: white;
	margin-left: 20vw;
  	margin-right: 20vw;
  	padding: 5vw;
  	border: 7px double #daa520;
  	outline: 5px solid black;
}

#void {
	height: 25vh;
}

footer {
	width: 100vw;
	background: white;
	font-size: 0.8em;
	font-family: 'Varela';
	text-align: center;
	padding-top: 2vh;
}

#about-proj {
	background-image: url('https://learredhdk.github.io/typolab/images/pages3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	padding: 10vh 25vw;
	text-align: justify;
}

h2 {
	padding-top: 0px;
	text-align: center;
	font-size: 1.8vw;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	margin-bottom: 5vh;
}

#write-proj {
  padding: 5vw;
	text-align: justify;
	background-color: white;
}

#dropdownMenuButton {
	background-color: white;
	font-size: 1em;
	font-family: 'Varela';
	color: black;
	border: transparent;
	padding-top: 12.5%;
}

#dropdownMenuButton:hover {
	border: 1px solid #daa520;
} 

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  /*width: 100%;*/
  height: 100%;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 43vw;
  max-width: 1000px;
  position: relative;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 20);
}

input {
  width: 25px;
  height: 25px;
  background-color: black;
  position: relative;
  display: block;
  border-radius: 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input:focus {
  outline: none;
}
input::before, input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}
input::before {
  left: calc(-4vw + 12.5px);
}
input::after {
  right: calc(-4vw + 12.5px);
}
input:checked {
  background-color: black;
}
input:checked::before {
  background-color: black;
}
input:checked::after {
  background-color: #daa520;
}
input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
  background-color: #daa520;
}
input:checked + .dot-info span {
  font-size: 13px;
  font-weight: bold;
}

.dot-info {
  width: 25px;
  height: 25px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc((((80vw - 25px) / 20) * -1) - 1px);
}
.dot-info span {
  visibility: visible;
  position: absolute;
  font-size: 12px;
}
.dot-info span.year {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.dot-info span.label {
  top: -50px;
  left: -35px;
  width: 100px;
  text-align: center;
}

#timeline-descriptions-wrapper {
  width: 100%;
  margin-top: 20vh;
  font-size: 1.2vw;
  font-weight: 400;
  margin-left: calc((-80vw - 25px) / 20);
}
#timeline-descriptions-wrapper p {
  margin-top: 0;
  display: none;
}
#timeline-descriptions-wrapper img {
  margin-top: 0;
  display: none;
  max-width: 100%;
}

input[data-description="1500"]:checked ~ #timeline-descriptions-wrapper div[data-description="1500"] p{
  display: block;
}
input[data-description="1500"]:checked ~ #timeline-descriptions-wrapper div[data-description="1500"] img{
  display: block;
}

input[data-description="1800"]:checked ~ #timeline-descriptions-wrapper div[data-description="1800"] p{
  display: block;
}
input[data-description="1800"]:checked ~ #timeline-descriptions-wrapper div[data-description="1800"] img{
  display: block;
}

input[data-description="1920"]:checked ~ #timeline-descriptions-wrapper div[data-description="1920"] p{
  display: block;
}
input[data-description="1920"]:checked ~ #timeline-descriptions-wrapper div[data-description="1920"] img{
  display: block;
}

input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper div[data-description="1960"] p{
  display: block;
}
input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper div[data-description="1960"] img{
  display: block;
}

input[data-description="1990"]:checked ~ #timeline-descriptions-wrapper div[data-description="1990"] p{
  display: block;
}
input[data-description="1990"]:checked ~ #timeline-descriptions-wrapper div[data-description="1990"] img{
  display: block;
}

input[data-description="2030"]:checked ~ #timeline-descriptions-wrapper div[data-description="2030"] p{
  display: block;
}
input[data-description="2030"]:checked ~ #timeline-descriptions-wrapper div[data-description="2030"] img{
  display: block;
}

@media (min-width: 1250px) {
  .input-flex-container {
    margin-left: 62.5px;
  }

  input::before {
    left: -37.5px;
  }
  input::after {
    right: -37.5px;
  }

  .dot-info {
    left: calc((((1000px - 25px) / 20) * -1) - 1px);
  }

  #timeline-descriptions-wrapper {
    margin-left: -37.5px;
  }
}
@media (max-width: 630px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-top: 15vh;
    margin-left: 0;
  }

  input, .dot-info {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
  }

  input {
    background-color: transparent !important;
    z-index: 1;
  }
  input::before, input::after {
    content: none;
  }
  input:checked + .dot-info {
    background-color: #2C3E50;
  }
  input:checked + .dot-info span.year {
    font-size: 14px;
  }
  input:checked + .dot-info span.label {
    font-size: 12px;
  }

  .dot-info {
    visibility: visible;
    border-radius: 50%;
    z-index: 0;
    left: 0;
    margin-left: -70px;
    background-color: #AEB6BF;
  }
  .dot-info span.year {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECF0F1;
  }
  .dot-info span.label {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }

  #timeline-descriptions-wrapper {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .input-flex-container {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .input-flex-container {
    width: 300px;
  }
}

#golden_button {
	border: 2px solid #daa520;
	color: #daa520;
	background-color: white;
	border-radius: 8px;
}

#golden_button:hover {
	border: 2px solid black;
	background-color: #daa520;
	color: black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

