/*@font-face {
	font-family: 'Montserrat';
	src: url('montserrat.ttf') format('truetype');
}*/

@font-face {
	font-family: 'Varela';
	src: url('varela.regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Spectral';
	src: url('Spectral-Regular.ttf') format('truetype');
}

.navbar {
  background: white !important;
  font-size: 0.8em;
}

.nav-item {
  color: black !important;
  font-family: 'Varela';
}

.nav-item:hover {
  border: 1px solid #daa520;
}

.navbar-brand {
  padding-left: 2vw;
}

 #navbarNavAltMarkup {
  padding-left: 48vw;
}

#navbarNavAltMarkup a {
  padding-left: 1vw;
  padding-right: 1vw;
}

#navbarNavAltMarkup a.active {
  border: 1px solid #daa520;
}

body {
  font-family: 'Spectral';
  overflow-x: hidden;
}

#dorso {
  background-color: #303030;
  height: 40vh;
}

#normal {
  height:10vh;
}

#spine {
  background-color: #303030;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.3);
  height: 20vh;
  z-index: 2;
  color: #daa520;
  text-shadow: 0 0 5px black;
  font-size: 1vw;
  text-align: center;
  padding-top: 8.5vh;
}

#t {
  float: left;
  width: 3vw;
  margin-left: 5vw;
  height: 20vh;
  margin-top: -2.5vh;
}

#t img {
  max-width: 100%;
  -webkit-transform: rotate(-90deg);
}

#author {
  width: 40vw;
}

#title {
  font-size: 1.3vw;
  margin-top: -0.5vh;
  padding-right: 2vw;
  float: right;
  width: 55vw;
  text-transform: uppercase;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
.wrapper {
  animation: sliding-background 40s linear infinite;
  background: url("https://learredhdk.github.io/typolab/images/firstpage.jpg") no-repeat left/120%;
  height: 92vh;
  text-align: center;
  width: 100vw;
}

.title {
  background: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20vw;
  letter-spacing: 3vw;
  line-height: 40vh;
  margin: 0;
  margin-left: 14vw;
  margin-right: 14vw;
  padding-top: 2vh;
  border-top: 12px solid black;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black, 21px 21px black, 22px 22px black, 23px 23px black, 24px 24px black, 25px 25px black, 26px 26px black, 27px 27px black, 28px 28px black, 29px 29px black, 30px 30px black, 31px 31px black, 32px 32px black, 33px 33px black, 34px 34px black, 35px 35px black;
}
.title:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}

.lab {
  background: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20vw;
  letter-spacing: 3vw;
  line-height: 44vh;
  margin: 0;
  margin-left: 14vw;
  margin-right: 14vw;
  padding-bottom: 2.2vh;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black, 21px 21px black, 22px 22px black, 23px 23px black, 24px 24px black, 25px 25px black, 26px 26px black, 27px 27px black, 28px 28px black, 29px 29px black, 30px 30px black, 31px 31px black, 32px 32px black, 33px 33px black, 34px 34px black, 35px 35px black;
}
.lab:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}

@keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}

  50% {
    background-position: 100% 40%;
  }
}

#spine {
  margin-top: 100px;
  height: 200px;
  width: 100vw;
}

#intro-sect {
  background: url("https://learredhdk.github.io/typolab/images/firstpage.jpg") no-repeat;
  background-size: 100vw;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

#intro {
  display: block;
  background: white;
  margin-left: 20vw;
    margin-right: 20vw;
    padding: 5vw;
    border: 7px double #daa520;
    outline: 5px solid black;
}

#void {
  height: 25vh;
}

footer {
  width: 100vw;
  background: white;
  font-size: 0.8em;
  font-family: 'Varela';
  text-align: center;
  padding-top: 2vh;
}

/*#about-proj {
  background-image: url('https://learredhdk.github.io/typolab/images/pages3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  padding: 10vh 25vw;
  text-align: justify;
}

#about-proj div {
  background-color: white;
  padding: 5vw;
}

h2 {
  /*padding-top: 10vh;
  padding-top: 1vh;
  text-align: center;
  font-size: 1.8vw;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  margin-bottom: 5vh;
}*/


.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 43vw;
  max-width: 1000px;
  position: relative;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 20);
}

input {
  width: 25px;
  height: 25px;
  background-color: black;
  position: relative;
  display: block;
  border-radius: 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input:focus {
  outline: none;
}
input::before, input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}
input::before {
  left: calc(-4vw + 12.5px);
}
input::after {
  right: calc(-4vw + 12.5px);
}
input:checked {
  background-color: black;
}
input:checked::before {
  background-color: black;
}
input:checked::after {
  background-color: #daa520;
}
input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
  background-color: #daa520;
}
input:checked + .dot-info span {
  font-size: 13px;
  font-weight: bold;
}

.dot-info {
  width: 25px;
  height: 25px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc((((80vw - 25px) / 20) * -1) - 1px);
}
.dot-info span {
  visibility: visible;
  position: absolute;
  font-size: 12px;
}
.dot-info span.year {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.dot-info span.label {
  top: -50px;
  left: -35px;
  width: 100px;
  text-align: center;
}

#timeline-descriptions-wrapper {
  width: 100%;
  margin-top: 140px;
  font-size: 22px;
  font-weight: 400;
  margin-left: calc((-80vw - 25px) / 20);
}
#timeline-descriptions-wrapper p {
  margin-top: 0;
  display: none;
}

input[data-description="1500"]:checked ~ #timeline-descriptions-wrapper p[data-description="1500"] {
  display: block;
}

input[data-description="1800"]:checked ~ #timeline-descriptions-wrapper p[data-description="1800"] {
  display: block;
}

input[data-description="1920"]:checked ~ #timeline-descriptions-wrapper p[data-description="1920"] {
  display: block;
}

input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper p[data-description="1960"] {
  display: block;
}

input[data-description="1990"]:checked ~ #timeline-descriptions-wrapper p[data-description="1990"] {
  display: block;
}

input[data-description="2030"]:checked ~ #timeline-descriptions-wrapper p[data-description="2030"] {
  display: block;
}

@media (min-width: 1250px) {
  .input-flex-container {
    margin-left: 62.5px;
  }

  input::before {
    left: -37.5px;
  }
  input::after {
    right: -37.5px;
  }

  .dot-info {
    left: calc((((1000px - 25px) / 20) * -1) - 1px);
  }

  #timeline-descriptions-wrapper {
    margin-left: -37.5px;
  }
}
@media (max-width: 630px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-top: 15vh;
    margin-left: 0;
  }

  input, .dot-info {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
  }

  input {
    background-color: transparent !important;
    z-index: 1;
  }
  input::before, input::after {
    content: none;
  }
  input:checked + .dot-info {
    background-color: #2C3E50;
  }
  input:checked + .dot-info span.year {
    font-size: 14px;
  }
  input:checked + .dot-info span.label {
    font-size: 12px;
  }

  .dot-info {
    visibility: visible;
    border-radius: 50%;
    z-index: 0;
    left: 0;
    margin-left: -70px;
    background-color: #AEB6BF;
  }
  .dot-info span.year {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECF0F1;
  }
  .dot-info span.label {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }

  #timeline-descriptions-wrapper {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .input-flex-container {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .input-flex-container {
    width: 300px;
  }
}

/*BOOKSHELF*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

.shelf-wrap {
  display: block;
  margin: 15vh auto;
  width: 800px; /*590px;*/
  height: 162px; /*308px;*/
  padding: 8px;
  background: #ccc;
  background-image: url(http://www.puntoinformaticofree.it/pagine_tutorial/scaffale/immagini/scaffale_scuro.jpg);
}

.shelf {
  width: 100%;
  height: 100%;
  padding: 5px;
  background: #ddd;
  background-image: url(http://www.puntoinformaticofree.it/pagine_tutorial/scaffale/immagini/scaffale_scuro.jpg);
}

.books {
  text-align: center;
  width: 100%;
  padding: 0 10px;
}

#book1 .front-cover,
#book1 .back-cover {
  background-color: black;
  color: #daa520;
}

#book2 .front-cover,
#book2 .back-cover {
  background-color: black;
  color: #daa520;
}

#book3 .front-cover,
#book3 .back-cover {
  background-color: black;
  color: #daa520;
}

#book4 .front-cover,
#book4 .back-cover {
  background-color: black;
  color: #daa520;
}

#book5 .front-cover,
#book5 .back-cover {
  background-color: black;
  color: #daa520;
}
#book6 .front-cover,
#book6 .back-cover {
  background-color: black;
  color: #daa520;
}

.book {
  display: inline-block;
  position: relative;
  height: 125px;
  width: 105px;
  margin: 10px 5px;
  color: #FFF;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  line-height: 1.25;
  -webkit-transition: all 0.33s ease-in-out;
  -webkit-perspective: 800px;
  transform: translateX(-8.925px);
  border-radius: 1px;
}

.book:hover {
  box-shadow: 0px 0px 0px 3px rgba(255, 225, 40, 0.9), 0px 1px 10px 3px rgba(0, 0, 0, 0.7);
}

.book .front-cover,
.book .back-cover,
.book .colophon {
  -webkit-transition: all 0.33s ease-in-out;
  border-radius: 1px;
}

.book .back-cover {
  position: relative;
  display: block;
  float: left;
  width: 17.85px;
  line-height: 17.85px;
  height: 100%;
  background-color: #DDD;
  background-size: 6000% 100%;
  background-position: left center;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.03);
  box-shadow: inset -10px 0px 10px -10px rgba(255, 255, 255, 0.2);
  transform: rotateY(-90deg);
  transform-origin: right;
  font-size: 70%;
}

.book .back-cover .container {
  padding: 0px 0px;
  height: 17.85px;
  width: 125px;
  float: left;
  position: absolute;
  bottom: 0;
  top: 100%;
  left: 0;
  right: 100%;
  display: block;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  padding: 0px 6px;
  vertical-align: middle;
}

.book .back-cover .title {
  float: left;
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book .back-cover .author {
  float: left;
  text-align: right;
  width: 30%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book .front-cover {
  float: left;
  position: relative;
  width: 87.15px;
  height: 100%;
  background-color: #DDD;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotateY(0deg);
  transform-origin: left;
  transform-style: preserve-3d;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  flex-flow: row;
  align-items: center;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.book .front-cover .container {
  padding: 10.5px;
  position: relative;
}

.book .front-cover .container * {
  width: 57.15px;
}
.book .title {
  font-size: 88%;
  font-weight: 600;
  margin-bottom: .2em;
  text-transform: uppercase;
}

.book .subtitle {
  font-size: 75%;
  font-weight: 400;
  font-style: italic;
  margin-bottom: .2em;
}

.book .author {
  font-size: 90%;
  font-weight: 200;
  margin-top: .2em;
  margin-bottom: .2em;
}

.book .publisher {
  font-size: 75%;
  font-weight: 600;
  margin-top: 12.5px;
  margin-bottom: 0;
  align-self: flex-end;
}

.book .colophon {
  width: 87.15px;
  height: 125px;
  float: left;
  display: block;
  color: #554F49;
  background-color: #FAF6F3;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0;
  transform: translateX(100%);
}

.book .colophon .container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10.5px;
}

.book:hover .back-cover {
  transform: rotateY(0deg);
}

.book:hover .front-cover {
  transform: rotateY(92.5deg);
}

.book:hover .colophon {
  opacity: 1;
  transform: translateX(17.85px);
}

.img-cover .front-cover * {
  display: none;
}

.spines:active .book {
  width: 17.85px;
  margin-left: 2px;
  margin-right: 2px;
}

.spines:active .book .front-cover {
  transform: rotateY(110deg);
  width: 0;
  opacity: 0;
}

.spines:active .book .back-cover {
  transform: rotateY(0deg);
  z-index: 1;
}

.spines:active .book .colophon {
  width: 0;
  opacity: 0;
}
