@font-face {
	font-family: 'printroom';
	src: url('printroom.ttf') format('truetype');
}

@font-face {
	font-family: 'samantha';
	src: url('samantha.ttf') format('truetype');
}



header {
	background-image: url('firstpage.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	font-family: 'printroom';

}

h1 {
	font-size: 20vw;
	color: rgb(55,55,55);
	background: rgba(255,255,255,0.6);
	text-align: center;
	position: absolute;
	top: 25vh;
	width: 100%;
	padding: 2vh 5vw;
}

h1 span {
	font-family: 'samantha';
	font-size: 15vw;
	vertical-align: baseline;
}

h2 {
	font-family: 'samantha';
	text-align: center;
	font-size: 5vw;
	margin-top: 15vh;
	margin-bottom: 10vh;
}

p {
	text-align: center;
}

section {
	margin-bottom: 20vh;
}